name: Build Rico APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          
      - name: Install Dependencies
        run: |
          pip install flet==0.24.1 gspread oauth2client requests
          
      - name: Build APK
        run: flet build apk
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Rico-App-Package
          path: build/apk/*.apk
